<main>
    <div id="home">
    <section class="hero">
        <div class="hero-content">
            <h1 style="color: black;">Welcome to Movie Ticket Booking</h1>
            <p style="color: black;">Discover the latest movies and book tickets for an unforgettable cinematic experience.</p>
            <img src="https://media.istockphoto.com/id/1177049680/vector/movie-tickets-vector-cinema-ticket-design.jpg?s=612x612&w=0&k=20&c=6gZIUIPsNas6jCs-Vh3SeX7kTu6zGFUEVZDLdQHDvCc=" alt="photo" style="width: 500px; height: 300px;">
            <br><br>
            <a routerLink="/movies" class="btn">Explore Movies</a>
        </div>
    </section>
    </div>
    <div id="about">
        <br><br>
    <section class="features">
        <div class="feature">
            <h2>Wide Movie Collection</h2>
            <p>Choose from a vast collection of movies across multiple genres.</p>
        </div>
        <div class="feature">
            <h2>Easy Booking Process</h2>
            <p>Book your tickets online with a few simple steps.</p>
        </div>
        <div class="feature">
            <h2>Multiple Theatre Options</h2>
            <p>Select from a variety of theatres near you for the best movie experience.</p>
        </div>
        
    </section>
    </div>
    <img src="https://img.freepik.com/free-vector/cinema-movie-compositions-set_1284-70290.jpg?w=1380&t=st=1691057343~exp=1691057943~hmac=a8f7d6e6acb99e6865f1c034934de6d66c833e064f96a875f25392ec67b149b0" alt="photo" width="50%" height="450px">
    <img src="https://img.freepik.com/free-vector/movie-night-horizontal-banners_1284-18822.jpg?w=826&t=st=1691057079~exp=1691057679~hmac=bd12aa884184764b80d5305e47fecef290e8c833be53e6f2eac63d4d88add551" alt="photo" width="50%" height="450px">
        <br><br>
    <section class="cta">
        <div class="cta-content">
            <h2 style="color: black;">Ready to Book Your Tickets?</h2>
            <a routerLink="/movies" class="btn">Browse Movies</a>
        </div>
    </section>
    <div id="contact">
        <section class="features">
        <div class="feature">
            <h2 style="color: rgb(217, 74, 74);">Instagram</h2><br>
            <a href="https://www.instagram.com/bookmyshowin/">click here!</a>
        </div>
        <div class="feature">
            <h2 style="color: blue;">Facebook</h2><br>
            <a href="https://www.facebook.com/BookMyShowIN">Click Here!</a>
        </div>
        <div class="feature">
            <h2 style="color: green;">whatsapp</h2>
            <p>+91 7871467705</p>
            <p>+91 8098971226</p>
        </div>
        </section>
    </div>
</main>

<footer>
    <p>&copy; 2023 Movie Ticket Booking. All rights reserved.</p>
</footer>